<!-- HTML form - no rails helpers -->
<form action="/users" method="post" accept-charset="UTF-8">

    <label for="username">Username:</label>
    <input type="text" name="user[username]" id="username">

    <label for="email">email:</label>
    <input type="text" name="user[email]" id="email">

    <label for="password">password:</label>
    <input type="password" name="user[password]" id="password">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="submit" value="Submit This Form">
</form>


<!-- Railsy Form pt 1 -->

<%= form_with(url: "/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field(:user, :username) %>

  <%= label_tag(:email, "email:") %>
  <%= text_field(:user, :email) %>

  <%= label_tag(:password, "password:") %>
  <%= password_field(:user, :password) %>

  <%= submit_tag("Submit This Form") %>
<% end %>
